#container {
    max-width: 99%;
    min-width: 320px;
    height: 400px;
    width: 99%;
}
.paginationButtns a {
    padding: 10px;
    margin-right: 2px;
    margin-left: 2px;
  }
  .react-datetime-picker__wrapper {
    padding: 4px;
    border: 1px solid #ddd!important;
    border-radius: 4px;
    box-shadow: rgba(160, 159, 159, 0.3) 1px 1px 4px;
  }